.presentation-page__title {
  font-size: var(--ifm-h1-font-size);
  color: var(--ifm-heading-color);
  margin-bottom: calc(var(--ifm-heading-margin-bottom) * 2);
}

.presentation-row {
  margin-bottom: 3rem;
}

.presentation-row__title {
  font-size: var(--ifm-h1-font-size);
  color: var(--ifm-color-primary);
}

.presentation-row__subtitle {
  font-size: var(--ifm-h3-font-size);
}

.presentation-row__img {
  width: 100%;
  margin-bottom: 1rem;
}
